{
  "plugins": ["react", "import"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/no-danger": "off",
    "prefer-destructuring": "off",
    "strict": "off",
    "react/jsx-no-target-blank": "warn",
    "react/no-unused-prop-types": "off",
    "react/no-unescaped-entities": "off"
  },

  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
