
.navi{
    z-index: 10;
    min-width: 7%;
    display:flex;
    flex-direction:column;
    margin-top: 60px;
    margin-left: 20px;
    position: fixed;
    color: red;

    .link{
        color: rgb(51, 49, 49);
        text-align: left;
        font-family: sans-serif;
        font-size: 1.1rem;
        text-decoration: none;
        position: relative;
        transition: all .3s cubic-bezier(.2, 0, 0, 1);
        z-index: 1;

        &:after {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 0rem;
        left: 0rem;
        background-color: #5c363b;
        transition: all .3s cubic-bezier(.2, 0, 0, 1);
        transform-origin: bottom center;
        border-radius: 5px;
        z-index: -1;
        }

        &:hover {
        color: rgb(255, 254, 254);

            &:after {
                right: 0;
                left: 0;
                height: 100%;
                background-color: #ebb215;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navi{
        border-radius: 5px;
        align-self: center;
        left: auto;
        right: 5px;
        color:white;
        transform: scale(0.85);
        font-size: 1.5rem;
        .link{
            min-width: 50px;
            text-align: center;
            color: rgb(248, 248, 248);
            padding: 1px;
            margin-bottom: 3px;
            &:after {
                right: 0;
                left: 0;
                height: 100%;
                background-color: #6e7271;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .navi{
        display: none;
    }
}
