.header {
  background-color: #343a40;
}

.logo {
  padding-top: .7rem !important;
  padding-bottom: .5rem !important;
  border-radius: 0.2rem;
  margin: 0;
  line-height: 20% !important;
  background-color: #ffffff;
  color: #343a40 !important;
  text-transform: uppercase;
  font-weight: bold !important;

  @media (min-width: 768px) and (max-width: 992px) {
    font-size: .85rem !important;
    padding-top: .6rem !important;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 1rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-right: 0 !important;
  }
}

.navTextWrap {
  @media (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 0.6rem !important;
    display: flex !important;
    flex-direction: column !important;
  }
}

.navBar{
  display: flex !important;
  justify-content: space-between !important;
  text-align: center;

  @media (min-width: 768px) and (max-width: 992px) {
    font-size: .75rem;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    display: flex !important;
    flex-direction: column !important;
  }
}
