.header {
  background-color: #343a40;
}

.logo {
  padding: 0;
  margin: 0;
  line-height: 20% !important;
  background-color: #ffffff;
  color: #343a40 !important;
  text-transform: uppercase;
  font-weight: bold !important;
}

.navBar{
  display: flex !important;
  justify-content: space-between !important;
  @media (min-width: 320px) and (max-width: 767px) {
    display: flex !important;
    flex-direction: column !important;
  }
}
