.wrapper{
    margin-bottom: 5vw;
    .video_title {
        display:flex;
        justify-content: center;
        font-size: 2rem;
    }
    button {
        position: relative;
        left: 38vw;
        width: 10vw;
        display:flex;
        justify-content: center;
        font-size: 1.5rem;
        color: black;
    }
}
