.head {
    text-align: center;
    font-size: 32px;
    margin-top: 2rem;
    @media (min-width: 320px) and (max-width: 767px) {
        text-align: center;
    }
}

.divideLine {
    width: 100px;
    height: 2px;
    background: #777777;
    margin: 1rem auto;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 3rem;

    img {
        height: 250px;
        width: 250px;
        margin: 0 auto .7rem;
    }

    p {
        text-align: center;
    }
}
